@import url("/scss/color.scss");
@import url("/scss/shadows.scss");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  padding: 96px 80px 96px 80px;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-section h2 {
  text-align: center;
  padding: 4px 20px 4px 20px;
  border-radius: 12px;
  background: rgb(229, 231, 235);
  color: rgb(75, 85, 99);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.title-text-big {
  margin-bottom: 25px;
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.menu {
  display: flex;
  align-items: center;
  height: 30px;
  margin: 16px 80px 16px 80px;
}
.menu-list {
  display: flex;
  justify-content: space-around;
  width: 1440px;
  text-decoration: none;
}
.menu-list-item {
  list-style: none;
  font-weight: normal;
}
.menu-list-item a {
  text-decoration: none;
  color: rgb(75, 85, 99);
  font-size: 18px;
  font-weight: 500;
}

.hello {
  height: 500px;
  margin: 100px 80px;
  color: rgb(75, 85, 99);
  font-size: 18px;
  font-weight: 400;
}
.hello-wrapper {
  display: flex;
  justify-content: space-between;
}
.hello-title {
  padding-top: 10px;
  color: rgb(17, 24, 39);
  font-size: 60px;
  font-weight: 700;
  text-shadow: 5px 5px rgba(75, 85, 99, 0.2);
}
.hello-text {
  padding-top: 5px;
  display: block;
  min-height: 100px;
  width: 768px;
}
.hello-location {
  margin-top: 50px;
}
.hello-location-item-1 {
  background: url(/icons/01_hello/icon_list_1.svg) no-repeat left top;
  padding: 2px 8px 2px 25px;
  list-style: none;
}
.hello-location-item-2 {
  margin-top: 10px;
  background: url(/icons/01_hello/icon_list_2.png) no-repeat left top;
  padding: 2px 8px 2px 25px;
  list-style: none;
}

.location-icons {
  display: flex;
  gap: 4px;
  padding-top: 50px;
}
.location-icons-btn {
  width: 36px;
  height: 36px;
}

.hello-column-2 .img-photo {
  width: 280px;
  height: 320px;
  border: 8px solid rgb(255, 255, 255);
  background: center center no-repeat url(/img/01_hello/photo.jpeg);
  -webkit-box-shadow: 40px 40px 5px 0px rgba(75, 85, 99, 0.2);
  -moz-box-shadow: 40px 40px 5px 0px rgba(75, 85, 99, 0.2);
  box-shadow: 40px 40px 5px 0px rgba(75, 85, 99, 0.2);
}

.about-me {
  background: rgb(249, 250, 251);
  min-height: 962px;
  color: rgb(75, 85, 99);
}
.about-me .about-me-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.about-me .about-me-wrapper .about-me-text {
  width: 580px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.about-me .about-me-wrapper .about-me-text a {
  color: rgb(75, 85, 99);
}
.about-me .img-photo {
  width: 400px;
  height: 480px;
  border: 8px solid rgb(255, 255, 255);
  background: center center no-repeat url(/img/02_about/photo.jpeg);
  -webkit-box-shadow: -40px 40px 5px 0px rgba(75, 85, 99, 0.2);
  -moz-box-shadow: -40px 40px 5px 0px rgba(75, 85, 99, 0.2);
  box-shadow: -40px 40px 5px 0px rgba(75, 85, 99, 0.2);
}
.about-me .about-me-list {
  padding-left: 15px;
  display: flex;
  width: 600px;
  height: 70px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  list-style-type: disc;
}
.about-me .about-me-list-item {
  margin-top: 10px;
}

.skills {
  min-height: 560px;
}
.skills span {
  display: block;
  margin: 16px 0 50px;
  color: rgb(75, 85, 99);
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.skills .wrapper-skills {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.skills .skills-box {
  width: auto;
  height: auto;
  text-align: center;
}
.skills .skills-box p {
  padding-top: 10px;
  color: rgb(75, 85, 99);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}/*# sourceMappingURL=style.css.map */