@import url('/scss/color.scss');
@import url('/scss/shadows.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-family: "Inter";
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    padding: 96px 80px 96px 80px;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        text-align: center;
        padding: 4px 20px 4px 20px;
        border-radius: 12px;
        background: rgb(229, 231, 235);
        color: rgb(75, 85, 99);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
}

h3 {
    color: rgb(17, 24, 39);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.title-text-big {
    margin-bottom: 25px;
    color: rgb(17, 24, 39);
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}



.menu {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 16px 80px 16px 80px;
    &-list {
        display: flex;
        justify-content: space-around;
        width: 1440px;
        text-decoration: none;
        &-item {
            list-style: none;
            font-weight: normal;
            a {
                text-decoration: none;
                color: rgb(75, 85, 99);
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

.hello {
    height: 500px;
    margin: 100px 80px;
    color: rgb(75, 85, 99);
    font-size: 18px;
    font-weight: 400;
    &-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &-title {
        padding-top: 10px;
        color: rgb(17, 24, 39);
        font-size: 60px;
        font-weight: 700;
        text-shadow: 5px 5px rgba(75, 85, 99, 0.2);
    }
    &-text {
        padding-top: 5px;
        display: block;
        min-height: 100px;
        width: 768px;
    }
    &-location {
        margin-top: 50px;
        &-item-1 {
            background: url(/icons/01_hello/icon_list_1.svg) no-repeat left top;
            padding: 2px 8px 2px 25px;
            list-style: none;
        }
        &-item-2 {
            margin-top: 10px;
            background: url(/icons/01_hello/icon_list_2.png) no-repeat left top;
            padding: 2px 8px 2px 25px;
            list-style: none;
        }
    }
}

.location-icons {
    display: flex;
    gap: 4px;
    padding-top: 50px;
    &-btn {
        width: 36px;
        height: 36px;

    }
}

.hello-column-2 {
    .img-photo {
        width: 280px;
        height: 320px;
        border: 8px solid rgb(255, 255, 255);
        background: center center no-repeat url(/img/01_hello/photo.jpeg);
        background-size: 100% 100%;
        -webkit-box-shadow: 40px 40px 5px 0px rgba(75, 85, 99, 0.2);
        -moz-box-shadow: 40px 40px 5px 0px rgba(75, 85, 99, 0.2);
        box-shadow: 40px 40px 5px 0px rgba(75, 85, 99, 0.2);
    }
}

.about-me {
    background: rgb(249, 250, 251);
    min-height: 962px;
    color: rgb(75, 85, 99);
    .about-me-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        .about-me-text {
            width: 580px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            a {
                color: rgb(75, 85, 99);
            }
        }
    }
    .img-photo {
        width: 400px;
        height: 480px;
        border: 8px solid rgb(255, 255, 255);
        background: center center no-repeat url(/img/02_about/photo.jpeg) ;
        -webkit-box-shadow: -40px 40px 5px 0px rgba(75, 85, 99, 0.2);
        -moz-box-shadow: -40px 40px 5px 0px rgba(75, 85, 99, 0.2);
        box-shadow: -40px 40px 5px 0px rgba(75, 85, 99, 0.2);
    }
    .about-me-list {
        padding-left: 15px;
        display: flex;
        width: 600px;
        height: 70px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        list-style-type: disc;
        &-item {
            margin-top: 10px;
        }
    }
}

.skills {
    min-height: 560px;
    span {
        display: block;
        margin: 16px 0 50px;
        color: rgb(75, 85, 99);
        font-size: 26px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
    }
    .wrapper-skills {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
    }
    .skills-box {
        width: auto;
        height: auto;
        text-align: center;

        p {
            padding-top: 10px;
            color: rgb(75, 85, 99);
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
        }
    }
}

.experience {
    min-height: 1140px;
    background: rgb(249, 250, 251);
    color: rgb(75, 85, 99);
    span {
        display: block;
        margin: 16px 0 50px;
        color: rgb(75, 85, 99);
        font-size: 26px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
    }
    .wrapper-exp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        .exp-block {
            display: flex;
            justify-content: space-between;
            width: 900px;
            height: 100%;
            margin-top: 35px;
            padding: 32px;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06),0px 4px 3px 0px rgba(0, 0, 0, 0.07);
            background: rgb(255, 255, 255);
            border-radius: 12px;
            .date-work {
                color: rgb(55, 65, 81);
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }
        }

    }
}
