@import url('/scss/color.scss');
@import url('/scss/shadows.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-family: "Inter";
}

.container {

    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 0 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    display: flex;
    align-items: center;
    height: 30px;
    &-list {
        display: flex;
        justify-content: space-around;
        width: 1440px;
        text-decoration: none;
        &-item {
            list-style: none;
            font-weight: normal;
            a {
                text-decoration: none;
                color: rgb(75, 85, 99);
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

.hello {
    &-wrapper {
        display: flex;
    }
}